.App {
  text-align: center;
  margin: 0 auto;
  background-color: #081C24;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .movie-display-box{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */

